.Sculpture {
    
}


.Projects {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h3 {
    margin-top: 110px;
    color: rgb(255, 145, 0);
}

.Sculpt1 {
    border: solid;
    border-color: black;
    height: 250px;
    width: 400px;
    background-image: url("https://i.imgur.com/AmlCRdG.png");
    background-size: 500px;
}

.Sculpt2 {
    border: solid;
    border-color: black;
    height: 250px;
    width: 400px;
    background-image: url("https://i.imgur.com/f95kMi4.png");
    background-size: 500px;
}

.Sculpt3 {
    border: solid;
    border-color: black;
    height: 250px;
    width: 400px;
    background-image: url("https://i.imgur.com/7WEvnc8.png");
    background-size: 500px;
}